*{
  box-sizing:border-box;
}

html, body, #root, .damage-meter {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

.resizable {
  background-image: url(./images/handle.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}

.clearfix:before,
.clearfix:after{
  display:table;
  content:'';
}
.clearfix:after{
  clear:both;
}

.ff-header {
  color: #DED7BE;
  text-shadow: -1px 0 2px #795516, 0 1px 2px #795516, 1px 0 2px #795516, 0 -1px 2px #795516;
}
.ff-text {
  color: #E2EBF5;
  text-shadow: -1px 0 3px #217AA2, 0 1px 3px #217AA2, 1px 0 3px #217AA2, 0 -1px 3px #217AA2;
}

.button {
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-size: 10px;
  padding:2px 5px;
  color:  #eee;
  text-align: center;
  border-radius:2px;
  text-shadow: 0 1px 1px #000;
  background-color: #2a81d7;
}